<div class="container">
    <h1> <%= @item.name %> </h1>
    <h2> <%= @item.price %> </h1>
    <h3> <%= @item.image %> </h1>


    <% link_to "Item" , edit_item_path %>
</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/skrollr/0.6.30/skrollr.min.js"></script>
<script type="text/javascript">
var s = skrollr.init();
</script>
