<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>

        <h1>JOIN JETSENT</h1>
        <%= @url %>
    </body>
</html>
