<div class="container">
  <div class="sign_reg_card">

  <h1>Shop Products from USA and save up to 40%</h1>
    <p style="text-align: left !important;"><i class="fa fa-check-circle"></i>   Delivered by verified trusted traveler</p>
    <p style="text-align: left !important;"><i class="fa fa-check-circle"></i>   Receive your product in 1–2 weeks</p>


    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">
      <div class="input-group-append">
        <%= link_to "Create Order", order_index_path, class: "btn btn-outline-secondary"%>
      </div>
    </div>
  </div>
</div>