@import url(https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.3/css/mdb.min.css);

.subscribe_input {
  border-top:none !important;
  border-left:none !important;
  border-right:none !important;
  text-color: white;
}


.subscribe_radio {
  display: inline;
}

my-input-wrapper .form-group {
  display:inline-block;
}